@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap");

:root {
  --navy: #0e0a2a;
  --blue: #3a42ff;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.error {
  width: auto;
  display: grid;
  margin: 2rem auto;
  place-items: center;

  @include breakpoint-up(medium) {
    width: 45%;
  }

  img {
    height: 20rem;

    @include breakpoint-up(medium) {
      height: 25rem;
    }
  }
}
