.teams {
  padding: 4rem 0 6rem;
  background: var(--navy);

  .container {
    width: 80%;
    margin: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(3, 1fr);
    }

    .team {
      display: grid;
      text-align: center;
      place-items: center;
      padding-bottom: 1.5rem;

      img {
        width: 10rem;
        display: block;
        margin: 2rem auto 0;
      }

      .btn {
        color: white;
        font-weight: 500;
        border-radius: 0;
        padding: 0.625rem 1rem;
        background: var(--blue);
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}
